<title><%= consts.title %></title>
    <% consts.sheets.forEach(function(sheet) { %><link rel='stylesheet' href='<%= sheet %>' />
    <% }); %>
    <% consts.scripts.forEach(function(script) { %><script type='text/javascript' src='<%= script %>'></script>
    <% }); %>
