<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body role="document">
    <% include ../partials/navbar %>
    <div class="template-main">
      <h3>Dashboard</h3>
    </div>
    <script type="text/javascript" src="/javascripts/jquery-1.11.3.min.js"></script>
  </body>
</html>
