<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body role="document">
    <% include ../partials/navbar %>
    <div class="template-main">
      <h1 class="text-center"><b>Hello!</b></h1>
      <h3 class="text-center">
        Welcome to the landing page of this vehicle's <u>Remote Interface</u>.
      </h3>
      <p class="text-center">
        Visit the <a href="/dash">dashboard</a> to begin controlling the vehicle. <br/>
        Visit the <a href="/plan">planner</a> to view and edit mission plans. <br/>
        Visit the <a href="/filter">vision filters</a> page to design vision filter chains. <br/>
        Visit the <a href="/log">logging</a> page to view and analyze vehicle logs.
      </p>
    </div>
    <script type="text/javascript" src="/javascripts/jquery-1.11.3.min.js"></script>
  </body>
</html>
